<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Markdown 渲染测试</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown-light.min.css">

    <style>
        /* 简单的页面布局调整 */
        body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }

        /* 针对移动端的优化 */
        @media (max-width: 767px) {
            body {
                padding: 15px;
            }
        }
    </style>
</head>
<body>

<article class="markdown-body" th:utext="${articleContent}">
    这里是默认内容，如果渲染成功，这段文字会被替换。
</article>

</body>
</html>